<%# Partial updates for posts pagination %>
<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1" id='posts_list' data-tg-refresh="posts_list">
  <% @posts.each do |post| %>
    <%= cache(['v1', 'post_preview', post, current_user, user_signed_in? ? 'authenticated' : 'guest']) do %>
      <%= render partial: 'post_preview', locals: { post: post } %>
    <% end %>
  <% end %>
  <% if @posts.next_page%>
    <!-- Pager -->
    <ul class="pager">
      <li class="next">
        <%= link_to('Older Posts', posts_path(page: @posts.next_page), data: { tg_remote: "get", tg_refresh_on_success: "posts_list", tg_refresh_on_error: "posts_list"}) %>
      </li>
    </ul>
  <% end %>
</div>
<%# Partial updates for posts pagination %>